doctype html
html(prefix='og: http://ogp.me/ns#')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    link(rel='canonical' href=baseurl)
    link(rel='icon' type='image/png' sizes='32x32' href=baseurl + '/images/favicon.png')
    link(rel='icon' type='image/png' sizes='128x128' href=baseurl + '/images/icon-128.png')
    link(rel='icon' type='image/png' sizes='256x256' href=baseurl + '/images/icon-256.png')

    link(rel='stylesheet' type='text/css' href=baseurl + '/styles.min.css' + version)

    meta(property='og:url' content=baseurl)
    meta(property='og:title' content='NANOBAG LOOI WITTON')
    meta(property='og:description' content='Встречайте NANOBAG LOOI WITTON — огромную микроскопическую сумку, уникальный коллекционный аксессуар')
    meta(name='description' content='Встречайте NANOBAG LOOI WITTON — огромную микроскопическую сумку, уникальный коллекционный аксессуар')

    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:image' content=baseurl + '/images/sharing-image.jpg')

    meta(property='og:image' content=baseurl + '/images/sharing-image.jpg')
    meta(property='og:image:width' content='1200')
    meta(property='og:image:height' content='630')

    title NANOBAG LOOI WITTON

  body
    .decor.decor--1
      include ../images/decor.svg

    header.header
      img(src=baseurl + '/images/logo.png' alt='NANOBAG LOOI WITTON')

    section.summary
      span 
        em Встречайте 
        strong 
          em Nanobag 
      span 
        strong 
          em Looi Witton — 
        em огромную 
      span 
        em микроскопическую 
        em сумку, 
      span 
        em уникальный 
        em коллекционный 
      span 
        em аксессуар

    section.excerpt
      figure  
        p MSCHF выпустили микроскопическую сумочку Louis Vuitton. Но мы не увидим этой коллекции: не только потому, что она крошечная, но и потому что из РФ Louis Vuitton ушел. Впрочем, выход есть! Мы представляем вам первую микроскопическую сумку-подделку — 
          strong Nanobag Looi Witton. 
        p Есть мнение, что 90% сумок Louis Vuitton, которые мы видим на улицах — подделки. Их чудовищно сложно отличить от оригинала. Мы это исправили. С заботой о вас поменяли букву в логотипе — LW — и увеличили размер, с 0,5 мм до 5 мм: все-таки сумка должна быть практичной и вместительной!

    section.slider 
      figure 
        img(src=baseurl + '/images/slide-1.jpg' alt='NANOBAG image 1')
        img(src=baseurl + '/images/slide-2.jpg' alt='NANOBAG image 2')
        img(src=baseurl + '/images/slide-3.jpg' alt='NANOBAG image 3')
        img(src=baseurl + '/images/slide-4.jpg' alt='NANOBAG image 4')
   
    section.benefits
      figure  
        h5 Сумочка подойдет для того, чтобы: 

        ul 
          li коллекционировать реснички 
          li носить с собой кристаллик соли 
          li выделиться на показе фильма «Барби» 
          li удивить всех в муравейнике 
          li *шутка про некоторые части тела бывшего показалась нам рискованной, поэтому мы ее здесь не пошутим*

    section.authors
      figure  
        p Изделия выполнены из специально разработанного фотополимерного состава на DLP-3D принтере в московской художественной мастерской 
          strong Николая Лоболобо 
          | при посредничестве 
          strong Екатерины Симоновой.

    section.feedback 
      form(action='/' method='POST') 
        label Оставьте свою почту, если хотите оформить предзаказ: 
        fieldset
          input(type='email' value='' placeholder='example@example.com')
          button(type='submit') &rarr;

    footer.footer
      figure  
        span 
          em Сделано 
          em с любовью 
        span 
          em в плут-бюро 
          strong 
            a(href='https://tigers.family/' rel='noopener' target='_blank')
              em «Золотые 
              em тигры»
      
      a(href='https://tigers.family/' rel='noopener' target='_blank') 
        img(src=baseurl + '/images/footer-tiger.png' alt='Золотые Тигры')

    script(src=baseurl + '/scripts.min.js' + version)

    script(async src="https://www.googletagmanager.com/gtag/js?id=G-HSLLYE1L3Y")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-HSLLYE1L3Y');

